version: "3.9"

services:
  core:
    build: ./core
    environment:
      - PORT=8080
      - PROVIDERS=http://sample-provider:4000/query,http://rezka-provider:4100/query,http://eneyida-provider:4200/query,http://uaflix-provider:4300/query,http://kodik-provider:4400/query,http://uaserial-provider:4500/query
    ports:
      - "8080:8080"
    depends_on:
      - sample-provider
      - rezka-provider
      - eneyida-provider
      - uaflix-provider
      - kodik-provider
      - uaserial-provider

  sample-provider:
    build: ./providers/sample-provider
    environment:
      - PORT=4000
    ports:
      - "4000:4000"

  rezka-provider:
    build: ./providers/rezka-provider
    environment:
      - PORT=4100
      - REZKA_BASE_URL=https://rezkaproxy.treamz.me
    ports:
      - "4100:4100"

  eneyida-provider:
    build: ./providers/eneyida-provider
    environment:
      - PORT=4200
      - ENEYIDA_BASE_URL=https://eneyida.tv
    ports:
      - "4200:4200"
    depends_on:
      - core
      - rezka-provider
      - sample-provider

  uaflix-provider:
    build: ./providers/uaflix-provider
    environment:
      - PORT=4300
      - UAFLIX_BASE_URL=https://uafix.net
    ports:
      - "4300:4300"
    depends_on:
      - core

  kodik-provider:
    build: ./providers/kodik-provider
    environment:
      - PORT=4400
      - KODIK_API_URL=https://kodikapi.com
      - KODIK_TOKEN=${KODIK_TOKEN}
    ports:
      - "4400:4400"
    depends_on:
      - core

  uaserial-provider:
    build: ./providers/uaserial-provider
    environment:
      - PORT=4500
      - UASERIAL_BASE_URL=https://uaserial.tv
    ports:
      - "4500:4500"
    depends_on:
      - core

  stremio-adapter:
    build: ./adapters/stremio-adapter
    environment:
      - PORT=7000
      - CORE_URL=http://core:8080
      - STREMIO_ID=org.streamhub
      - STREMIO_NAME=StreamHub
    ports:
      - "7010:7000"
    depends_on:
      - core

  lampa-adapter:
    build: ./adapters/lampa-adapter
    environment:
      - PORT=7011
      - CORE_URL=http://core:8080
    ports:
      - "7011:7011"
    depends_on:
      - core
