version: "3.9"

services:
  core:
    build: ./core
    environment:
      - PORT=8080
      - PROVIDERS=http://sample-provider:4000/query,http://rezka-provider:4100/query
    ports:
      - "8080:8080"
    depends_on:
      - sample-provider
      - rezka-provider

  sample-provider:
    build: ./providers/sample-provider
    environment:
      - PORT=4000
    ports:
      - "4000:4000"

  rezka-provider:
    build: ./providers/rezka-provider
    environment:
      - PORT=4100
      - REZKA_BASE_URL=https://rezkaproxy.treamz.me
    ports:
      - "4100:4100"

  eneyida-provider:
    build: ./providers/eneyida-provider
    environment:
      - PORT=4200
      - ENEYIDA_BASE_URL=https://eneyida.tv
    ports:
      - "4200:4200"
    depends_on:
      - core
      - rezka-provider
      - sample-provider

  stremio-adapter:
    build: ./adapters/stremio-adapter
    environment:
      - PORT=7000
      - CORE_URL=http://core:8080
      - STREMIO_ID=org.streamhub
      - STREMIO_NAME=StreamHub
    ports:
      - "7010:7000"
    depends_on:
      - core

  lampa-adapter:
    build: ./adapters/lampa-adapter
    environment:
      - PORT=7011
      - CORE_URL=http://core:8080
    ports:
      - "7011:7011"
    depends_on:
      - core
